doctype html
// 세션 세팅
head
// //head include
include ./common/head.pug
body.hd#myOrderList
#wrap
  main#contents.hd__myOrderList
    .myOrderList.myPage
      h2.hd__page-title 주문/배송 조회·변경
      .sub-wrap.hd__inner1100
        // snb
        aside.snb
          h3.hidden 서브메뉴
          include ./common/submenu.pug
        //컨텐츠
        .sub-cont.orderView
          section.sub-cont__sec.myWelcome(style="display:inline-flex; width:850px; align-items:center; justify-content: center;")
            h3.myWelcome__info
              span.myWelcome__info__name
                em #{userId}
                | 님 반갑습니다.
            ul
              li.box__list
                span.box__list__title 배송중
                span.box__list__value
                  strong#myPageUserInfoDICount
                  | 건
          section.sub-cont__sec1.mySearch
            h3.sub-cont__title 주문내역
            .mySearch__box
              .inner
                .row
                  .col.check-month.hd__custom-label
                    span.col__title 조회기간
                    button#dvM_1.hidden(type='radio' name='monthRadio' onclick="addMonths(new Date(), -1)")
                    label.month_radio(for='dvM_1') 1개월
                    button#dvM_3.hidden(type='radio' name='monthRadio' onclick="addMonths(new Date(), -3)")
                    label.month_radio(for='dvM_3') 3개월
                    button#dvM_6.hidden(type='radio' name='monthRadio' onclick="addMonths(new Date(), -6)")
                    label.month_radio(for='dvM_6') 6개월
                    button#dvM_9.hidden(type='radio' name='monthRadio' onclick="addMonths(new Date(), -9)")
                    label.month_radio(for='dvM_9') 9개월
                    button#dvM_12.hidden(type='radio' name='monthRadio' onclick="addMonths(new Date(), -12)")
                    label.month_radio(for='dvM_12') 1년

                  script.
                    function addMonths(date, months) {
                    var temp = String(date.getFullYear()+ '-' + date.getMonth() + '-' + date.getDate());
                    document.getElementById("END").value = temp;
                    date.setMonth(date.getMonth() + months);
                    var temp1 = String(date.getFullYear()+ '-' + date.getMonth() + '-' + date.getDate());
                    document.getElementById("START").value = temp1;
                    }

                  .col.check-cal
                    span.check-cal__data
                      input#START.datepick(type='text' name='START' title='기간조회 시작날짜 입력' data-maxdate='0' data-mindate='-5Y')
                    span.bar ~
                    span.check-cal__data
                      input#END.datepick(type='text' name='END' title='기간조회 마지막날짜 입력' data-maxdate='0' data-mindate='-5Y')
                .row
                  .col.condi
                    span.col__title 주문상태
                    .hd__custom-select
                      select#STATUS.select-area(name='STATUS')
                        option(value='') 주문상태 전체
                        option(value='IR') 입금대기
                        option(value='IC') 입금확인
                        option(value='PP') 상품준비중
                        option(value='DR') 배송준비중
                        option(value='DI') 배송중
                        option(value='DC') 배송완료
                        option(value='BF') 구매확정
                  .col.input-text
                    span.col__title 상품명
                    input#SEARCH_ITEM_NAME.input__text(type='text' name='SEARCH_ITEM_NAME')
                    a#btnSearchReset.btn-reset(href='#') 초기화
              .btn
                button#btnSearch.btn-init.green(type='button') 조회
          #dvListArea
          script#dvOrderListTemplate(type='text/x-handlebars-template').
            {{#if rows}}
            <section class="myList" id="dvOrderItemListArea">
            <!-- 상품-->
            <!-- //상품-->
            </section>
            <div id="divPagingArea"></div>
            {{else}}
            <!-- 주문한 내역이 없을 경우 -->
            <div class="none-list">
            <div class="none-list__inner">
            <p class="none-list__txt">주문한 내역이 없습니다.</p>
            </div>
            </div>
            <!-- //주문한 내역이 없을 경우 -->
            {{/if}}
          script#dvTemplateOrders(type='text/x-handlebars-template').
            <section class="order-list sub-cont__sec">
            <div class="orderListView__info">
            <span class="orderListView__info__date">
            <strong><a href="javascript:moveOrderDetail('{{OD_ORDER_ID}}','{{OD_ORDER_DETL_ID}}','{{CSTMZ_SHIPPING_DIV}}');">
            주문일 : {{ORDER_DATE}}</a></strong>
            <button class="btn-detail" onclick="moveOrderDetail('{{OD_ORDER_ID}}','{{OD_ORDER_DETL_ID}}','{{CSTMZ_SHIPPING_DIV}}');">상세보기</button>
            </span>
            <div class="orderListView__info__box">
            {{#ifCond GIFT_SHIPPING_YN '==' 'Y'}}
            {{#ifCond SEND_GIFTMSG_DISP_YN '==' 'Y'}}
            <button class="btn-init orange" onclick="reGiftSendSms('{{OD_ORDER_ID}}');">선물메시지 재전송</button>
            {{/ifCond}}
            {{#ifCond RECEIVERS_TOT_CNT '>' 1}}
            To. <span class="name_ellipsis">{{REP_RECEIVER_NM}}</span> 외 {{RECEIVERS_TOT_CNT_1}}명
            {{else}}
            <span class="point_color2">To. {{REP_RECEIVER_NM}}</span>
            {{/ifCond}}
            {{/ifCond}}
            <!-- 노출Case : 입금대기, 입금확인 -->
            {{#ifCond GIFT_SHIPPING_YN '==' 'Y'}}
            {{#ifCond CANCEL_CNT '==' '0'}}
            <button class="btn-cancelAll" id="cancelAll_{{OD_ORDER_ID}}" onclick="moveChangeStatus('CA','{{OD_ORDER_ID}}','');">주문취소</button>
            {{/ifCond}}
            {{else}}
            {{#HELPER_ORDER_CANCEL_ALL_BTN}}
            <button class="btn-cancelAll" id="cancelAll_{{OD_ORDER_ID}}" onclick="moveChangeStatus('CA','{{OD_ORDER_ID}}','');">주문취소</button>
            {{/HELPER_ORDER_CANCEL_ALL_BTN}}
            {{/ifCond}}
            <!-- //노출Case : 입금대기, 입금확인 -->
            </div>
            </div>
            <ul class="item-wrap" id="dvTemplateGoods_{{OD_ORDER_ID}}">
            </ul>
            </section>
          script#dvTemplateGoods(type='text/x-handlebars-template').
            <li class="item" >
            {{#ifCond strCompanyName '!=' ''}}
            <div class="item-store">{{strCompanyName}}</div>
            {{/ifCond}}
            {{#ifCond MENU_TYPE '==' '1'}}
            <div class="meals accordion">
            <div class="item-info">
            <div class="item-inner">
            <figure class="thumb {{#HELPER_EXCH_ITEMS_YN}}hasBadge{{/HELPER_EXCH_ITEMS_YN}}">
            <img src="{{S_IMG}}" onError="this.src='/pc/greating/images/no_item_img.jpg'" alt="{{strItemName}}">
            </figure>
            <ul class="textbox" >
            <li class="textbox__list textbox__list-process">
            <span class="process-text">
            {{#ifCond GIFT_SHIPPING_YN '==' 'Y'}}
            {{#ifCond COMPANY_TYPE '==' null}}
            {{STATUS_NAME}} To. {{RECEIVER_NAME}}
            {{else}}
            {{#ifCond COMPANY_TYPE '==' 'H'}}
            {{STATUS_NAME}} (To. {{RECEIVER_NAME}})
            {{else}}
            {{STATUS_NAME}} To. {{RECEIVER_NAME}}
            {{/ifCond}}
            {{/ifCond}}
            {{else}}
            {{STATUS_NAME}}
            {{/ifCond}}
            </span>
            </li>
            <li class="textbox__list textbox__list-name">
            <strong class="item__title">{{strItemName}}</strong>
            </li>
            <li class="textbox__list textbox__list-opt">{{strItemOption}}</li>
            {{#ifCond EXCH_PS_PAY_GRP_ID '!=' '18'}}
            <li class="textbox__list">
            {{HELPER_PRICE_FORMAT strSalePrice}}원 / {{QTY}}개
            </li>
            {{else}}
            <li class="textbox__list">
            {{QTY}}개
            </li>
            {{/ifCond}}
            </ul>
            </div>
            </div>
            {{#HELPER_MEALS_MORE_BTN}}
            <button class="list-more-btn accordion__head accordion__head">식단보기</button>
            {{/HELPER_MEALS_MORE_BTN}}
            <div class="list-more accordion__cont" id="dvTemplateDues_{{OD_ORDER_ID}}_{{UR_COMPANY_ID}}_{{MEALS_CART_ID}}">
            </div>
            </div>
            {{else}}
            <div class="item-info">
            <div class="item-inner">
            <!--a href="javascript:moveOrderDetail('{{OD_ORDER_ID}}','{{OD_ORDER_DETL_ID}}','{{CSTMZ_SHIPPING_DIV}}');"-->
            {{#ifCond MENU_TYPE '!=' '1'}}
            <a href="/market/marketDetail?itemId={{IL_ITEM_ID}}">
            <figure class="thumb {{#HELPER_EXCH_ITEMS_YN}}hasBadge{{/HELPER_EXCH_ITEMS_YN}}">
            <img src="{{S_IMG}}" onError="this.src='/pc/greating/images/no_item_img.jpg'" alt="{{strItemName}}">
            </figure>
            </a>
            {{else}}
            <figure class="thumb {{#HELPER_EXCH_ITEMS_YN}}hasBadge{{/HELPER_EXCH_ITEMS_YN}}">
            <img src="{{S_IMG}}" onError="this.src='/pc/greating/images/no_item_img.jpg'" alt="{{strItemName}}">
            </figure>
            {{/ifCond}}
            <ul class="textbox" >
            <li class="textbox__list textbox__list-process">
            <span class="process-text">
            {{#ifCond GIFT_SHIPPING_YN '==' 'Y'}}
            {{#ifCond COMPANY_TYPE '==' null}}
            {{STATUS_NAME}} To. {{RECEIVER_NAME}}
            {{else}}
            {{#ifCond COMPANY_TYPE '==' 'H'}}
            {{STATUS_NAME}} (To. {{RECEIVER_NAME}})
            {{else}}
            {{STATUS_NAME}} To. {{RECEIVER_NAME}}
            {{/ifCond}}
            {{/ifCond}}
            {{else}}
            {{STATUS_NAME}}
            {{/ifCond}}
            </span>
            {{#ifCond MENU_TYPE '!=' '1'}}
            {{#ifCond DUE_DATE '!=' null}}
            {{#ifCond COMPANY_TYPE '==' null}}
            {{#ifCond CSTMZ_SHIPPING_DIV '!=' 'H'}}
            {{#ifCond STATUS '!=' 'IR'}}
            {{#ifCond STATUS '!=' 'IB'}}
            {{#ifCond CSTMZ_SHIPPING_DIV '==' 'D'}}
            <a href="javascript:moveOrderDetail('{{OD_ORDER_ID}}','','');">
            <span class="process-delivery">평균 3일이내 상품 출발</span>
            </a>
            {{else}}
            {{#ifCond GIFT_SHIPPING_YN '!=' 'Y'}}
            <a href="javascript:moveOrderDetail('{{OD_ORDER_ID}}','','');">
            <span class="process-delivery">{{HELPER_DATE_FORMAT DUE_DATE}} 도착 예정</span>
            </a>
            {{else}}
            {{#ifCond STATUS '!=' 'IC'}}{{#ifCond STATUS '!=' 'CC'}}{{#ifCond STATUS '!=' 'CA'}}
            {{#ifCond RECEIVER_ACCEPT_YN '==' 'Y'}}
            <a href="javascript:moveOrderDetail('{{OD_ORDER_ID}}','','');">
            <span class="process-delivery">{{HELPER_DATE_FORMAT DUE_DATE}} 도착 예정</span>
            </a>
            {{/ifCond}}
            {{/ifCond}}{{/ifCond}}{{/ifCond}}
            {{/ifCond}}
            {{/ifCond}}
            {{else}}
            <!-- <li class="textbox__list textbox__list-name"></li> -->
            {{/ifCond}}
            {{else}}
            <!-- <li class="textbox__list textbox__list-name"></li> -->
            {{/ifCond}}
            {{else}}
            <!-- <li class="textbox__list textbox__list-name"></li> -->
            {{/ifCond}}
            {{else}}
            {{#ifCond CSTMZ_SHIPPING_DIV '==' 'D'}}
            <span class="process-delivery">평균 3일이내 상품 출발</span>
            {{else}}
            {{#ifCond MENU_TYPE '==' '2'}}
            <span class="process-delivery">{{HELPER_DATE_FORMAT DUE_DATE}} 도착 예정</span>
            {{else}}
            {{#ifCond GIFT_SHIPPING_YN '==' 'Y'}}
            {{#ifCond COMPANY_TYPE '==' 'H'}}
            <span class="process-delivery">{{#HELPER_EXCH_ITEMS_YN}}교환확정일로부터{{else}}수락일로부터{{/HELPER_EXCH_ITEMS_YN}} {{DUE_DATE}}일 이내 출고 예정</span>
            {{else}}
            <span class="process-delivery">{{#HELPER_EXCH_ITEMS_YN}}교환확정일로부터{{else}}주문일로부터{{/HELPER_EXCH_ITEMS_YN}} {{DUE_DATE}}일 이내 출고 예정</span>
            {{/ifCond}}
            {{else}}
            <span class="process-delivery">{{#HELPER_EXCH_ITEMS_YN}}교환확정일로부터{{else}}주문일로부터{{/HELPER_EXCH_ITEMS_YN}} {{DUE_DATE}}일 이내 도착 예정</span>
            {{/ifCond}}
            {{/ifCond}}
            {{/ifCond}}
            {{/ifCond}}
            {{/ifCond}}
            {{/ifCond}}
            </li>
            <li class="textbox__list textbox__list-name">
            <strong class="item__title">{{strItemName}}</strong>
            </li>
            <li class="textbox__list textbox__list-opt">{{strItemOption}}</li>
            {{#ifCond EXCH_PS_PAY_GRP_ID '!=' '18'}}
            <li class="textbox__list">
            {{HELPER_PRICE_FORMAT strSalePrice}}원 / {{QTY}}개
            </li>
            {{else}}
            <li class="textbox__list">
            {{QTY}}개
            </li>
            {{/ifCond}}
            </ul>
            <!--/a-->
            {{#ifCond MENU_TYPE '!=' '1'}}
            <div class="hd__mypage__btns clearfix">
            <input type="hidden" id="orderDetlId_{{OD_ORDER_SHIPPING_ZONE_ID}}_{{UR_COMPANY_ID}}_{{IL_ITEM_OPTN_DETL_ID}}" value="" />
            {{#ifCond COMPANY_TYPE '==' null}}
            <button type="button" id="shippingBtn_{{OD_ORDER_SHIPPING_ZONE_ID}}_{{UR_COMPANY_ID}}_{{IL_ITEM_OPTN_DETL_ID}}" style="display:{{shippingBtnDisplay}};" onclick="moveGoodsFlowPage('{{PS_SHIPPING_ID}}','{{TRACKING_NUMBER}}');">배송추적</button>
            <button type="button" id="shippingCompleteBtn_{{OD_ORDER_SHIPPING_ZONE_ID}}_{{UR_COMPANY_ID}}_{{IL_ITEM_OPTN_DETL_ID}}" style="display:{{shippingCompleteBtnDisplay}};"
            onclick="shippingCompleteBtnClick({{OD_ORDER_ID}},{{OD_ORDER_SHIPPING_ZONE_ID}},'{{TRACKING_NUMBER}}','DC','{{GRP_ID}}','0','N','{{FOOD_YN}}','{{MENU_TYPE}}','{{UR_COMPANY_ID}}','{{IL_ITEM_OPTN_DETL_ID}}','','','{{ITEM_DETAIL_TYPE}}','{{EXCH_OD_ORDER_CLAIM_ID}}');">배송완료</button>
            <button type="button" id="itemConfirmBtn_{{OD_ORDER_SHIPPING_ZONE_ID}}_{{UR_COMPANY_ID}}_{{IL_ITEM_OPTN_DETL_ID}}" style="display:{{itemConfirmBtnDisplay}};"
            onclick="itemConfirmBtnClick('{{GRP_ID}}','N','{{OD_ORDER_DETL_ID}}','{{OD_ORDER_SHIPPING_ZONE_ID}}','{{UR_COMPANY_ID}}','{{IL_ITEM_OPTN_DETL_ID}}','{{COMPANY_TYPE}}');" name="BFBtn_{{OD_ORDER_ID}}">구매확정</button>
            <button type="button" id="itemExchangeBtn_{{OD_ORDER_SHIPPING_ZONE_ID}}_{{UR_COMPANY_ID}}_{{IL_ITEM_OPTN_DETL_ID}}" style="display:{{itemExchangeBtnDisplay}};" onclick="moveChangeStatus('E','{{OD_ORDER_ID}}','{{OD_ORDER_DETL_ID}}','{{GRP_ID}}','{{UR_COMPANY_ID}}');">교환신청</button>
            <button type="button" id="itemReturnBtn_{{OD_ORDER_SHIPPING_ZONE_ID}}_{{UR_COMPANY_ID}}_{{IL_ITEM_OPTN_DETL_ID}}" style="display:{{itemReturnBtnDisplay}};" onclick="moveChangeStatus('R','{{OD_ORDER_ID}}','{{OD_ORDER_DETL_ID}}','{{GRP_ID}}','{{UR_COMPANY_ID}}');">반품신청</button>
            <button type="button" id="reviewBtn_{{OD_ORDER_SHIPPING_ZONE_ID}}_{{UR_COMPANY_ID}}_{{IL_ITEM_OPTN_DETL_ID}}" style="display:{{reviewBtnDisplay}};" onclick="moveReviewWrite('{{OD_ORDER_DETL_ID}}');" data-login="y" data-popup-name=".popup_orderReview">상품후기작성</button>
            {{/ifCond}}
            </div>
            {{/ifCond}}
            </div>
            </div>
            {{#HELPER_MEALS_MORE_BTN}}
            <button class="list-more-btn accordion__head accordion__head">식단보기</button>
            {{/HELPER_MEALS_MORE_BTN}}
            <div class="list-more accordion__cont" id="dvOrderItemListAreaTemplate_DUE_DATE_LIST_{{OD_ORDER_ID}}_{{UR_COMPANY_ID}}_{{MEALS_CART_ID}}">
            </div>
            {{/ifCond}}
            </li>
          script#dvTemplateDues(type='text/x-handlebars-template').
            <div class="item-info">
            <div class="date">
            <div class="date__inner">
            <span><strong>{{DUE_SHORT_DATE}}</strong>{{DUE_SHORT_DAY}}</span>
            </div>
            </div>
            <ul class="textbox" id="dvTemplateMeals_{{MEALS_CART_ID}}_{{DUE_DATE}}">
            </ul>
            <div class="hd__mypage__btns clearfix">
            <input type="hidden" id="orderDetlId_{{OD_ORDER_SHIPPING_ZONE_ID}}_{{MEALS_CART_ID}}_{{DUE_DATE}}" value="" />
            <input type="hidden" id="grpId_{{OD_ORDER_SHIPPING_ZONE_ID}}_{{MEALS_CART_ID}}_{{DUE_DATE}}" value="" />
            <button type="button" class="hd__mypage__btn-full btn__modal-open menuChangePopup"  style="display:{{menuChangeBtnDisplay}};"
            data-login="n" data-popup-name="popup_menuChange" data-ododerid="{{OD_ORDER_ID}}" data-mealscartId="{{MEALS_CART_ID}}"
            data-duedate="{{DUE_DATE2}}" data-choicecnt="{{CHOICECNT}}" data-mealstype="{{MENU_DETL_TYPE}}"
            data-earlyShippingYn="{{EARLY_SHIPPING_YN}}">배송 희망일 & 메뉴 변경</button>
            <button type="button" id="shippingBtn_{{OD_ORDER_SHIPPING_ZONE_ID}}_{{MEALS_CART_ID}}_{{DUE_DATE}}" class="{{shippingBtnClass}}" style="display:{{shippingBtnDisplay}};" onclick="moveGoodsFlowPage('{{PS_SHIPPING_ID}}','{{TRACKING_NUMBER}}');">배송추적</button>
            <button type="button" id="shippingCompleteBtn_{{OD_ORDER_SHIPPING_ZONE_ID}}_{{MEALS_CART_ID}}_{{DUE_DATE}}" class="{{shippingBtnClass}}" style="display:{{shippingCompleteBtnDisplay}};"
            onclick="shippingCompleteBtnClick('{{OD_ORDER_ID}}','{{OD_ORDER_SHIPPING_ZONE_ID}}','{{TRACKING_NUMBER}}','DC','{{GRP_ID}}','0','N','{{FOOD_YN}}','{{MENU_TYPE}}','{{UR_COMPANY_ID}}','{{IL_ITEM_OPTN_DETL_ID}}','{{MEALS_CART_ID}}','{{DUE_DATE}}','','');">배송완료</button>
            <button type="button" id="itemConfirmBtn_{{OD_ORDER_SHIPPING_ZONE_ID}}_{{MEALS_CART_ID}}_{{DUE_DATE}}" class="{{shippingBtnClass}}" style="display:{{itemConfirmBtnDisplay}};"
            onclick="itemConfirmBtnMealClick('N','{{OD_ORDER_ID}}','{{OD_ORDER_DETL_ID}}','{{OD_ORDER_SHIPPING_ZONE_ID}}','{{MEALS_CART_ID}}','{{DUE_DATE}}','{{COMPANY_TYPE}}','{{DUE_DATE2}}');">구매확정</button>
            <button type="button" id="reviewBtn_{{OD_ORDER_SHIPPING_ZONE_ID}}_{{MEALS_CART_ID}}_{{DUE_DATE}}" class="hd__mypage__btn-full btn__modal-open" style="display:{{reviewBtnDisplay}}"
            onclick="moveReviewList('{{OD_ORDER_ID}}','{{OD_ORDER_DETL_ID}}','{{DUE_DATE2}}','{{MEALS_CART_ID}}');" data-login="y" data-popup-name=".popup_reviewList">상품후기작성</button>
            </div>
            </div>
          script#dvTemplateMeals(type='text/x-handlebars-template').
            <li class="textbox__list"><span class="name">
            {{#ifCond ADD_ITEM_YN '==' 'Y'}}
            <a href="#" class="add-detail-open anchor-act btn__modal-open" data-popup-name="designationDetail" data-login="n" data-itemid="{{IL_ITEM_ID}}" itemMenuType="1">
            {{/ifCond}}
            {{#ifCond ADD_ITEM_YN '==' 'N'}}
            <a href="#" class="detail-open anchor-act btn__modal-open" data-popup-name="designationDetail" data-login="n" data-itemid="{{IL_ITEM_ID}}" itemMenuType="1">
            {{/ifCond}}
            {{#HELPER_EXCH_ITEMS_YN}}<span style="color:#918c00;">(교환) </span>{{/HELPER_EXCH_ITEMS_YN}}
            {{#ifCond ADD_ITEM_YN '==' 'Y'}}
            <span class="point_color" style="color:#918c00">[+메뉴]</span>
            {{/ifCond}}
            {{ITEM_NAME}}</a></span><span class="num qty_num" data-qty="{{QTY}}">{{QTY}}개</span></li>
            {{#each giftItemList}}
            <!-- 사은품이 있을 경우 -->
            <li class="textbox__list gift">
            <a href="/market/marketDetail?itemId={{IL_ITEM_ID}}" >
            <figure class="gift__thumb">
            <img src="{{S_IMG}}" width="45" height="45" onError="this.src='/pc/greating/images/no_item_img.jpg'" alt="{{ITEM_NAME}}">
            </figure>
            </a>
            <span class="gift__name">[사은품] {{ITEM_NAME}}</span>
            </li>
            {{/each}}
          // paging
          #pageNation.pagenation(style='display: none;')
          // //paging
  

